<h3>Projects</h3>
<div class="row">
  <div id="project">
  </div>
</div>
<a href="/#/projects/new">New Project</a>
<br />

<h3>Task lists out the project</h3>
<div class="row">
  <div id="task_list">
  </div>
</div>
<a href="/#/task_lists/new">New Task list</a>
