- if @projects.count == 0 and @task_lists.count == 0
  %h3
    You do not have list of projects, create them by clicking the Create button at the top right!
- else
  %h3
    Projects
  = render 'shared/projects'
  %h3
    Task lists out the projects
  = render 'shared/task_lists'

