<div class="row">
  <div class="span6 offset3">
    <h2>New task</h2>
    <form id="new-task" name="task" class="well">
      <div class="actions">
        <div class="field">
          <label>Name:</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="field">
          <label>Description:</label>
          <textarea name="description"></textarea>
        </div>
        <input type="submit" value="Create task" class="btn-primary" />
      </div>
    </form>
  </div>
</div>

<a href="/#/task_lists/index">Back</a>