- if signed_in?
  #pages
  - content_for :javascript do
    new TodoList.Routers.PagesRouter({projects: #{ @projects.to_json.html_safe },
    task_lists: #{ @task_lists.to_json.html_safe },
    tasks: #{ @tasks.to_json.html_safe }
    })
    Backbone.history.start()
- else
  - @title = "Todo list sign up"
  .row.title
    %h2
      Todo list
    %i
      Your task manager, that can handle your to-do list and manage team collaboration with other users.
  = render :file => 'devise/sessions/new'
