- if signed_in?
  = render 'shared/error_messages'
  = render 'shared/projects_task_lists'
- else
  .row.title
    %h2
      Todo list
    %i
      Your task manager, that can handle your to-do list and manage team collaboration with other users.
  = render :file => 'devise/sessions/new'
