- if signed_in?
  = render 'shared/error_messages'
  = render 'shared/project_task_list_item'
- else
  .row.title
    %h2
      Todo list
    %i
      Your task manager, that can handle your to-do list and manage team collaboration with other users.
  .row
    .span4.offset4
      = render('sessions/signin')