- @title = @project.name
.row
  .span8.offset2
    %h3
      = @project.name
    %p
      = @project.description
    %p
      = link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'
      = link_to 'Back', projects_path, class: 'btn'
