body{
    background: url('/assets/bg.png');
}
.signup{
    margin-left: 90px;
}
.title{
    width: 580px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.menu li{
    float: left;
    margin-right: 10px;
    list-style: none;
}
.menu{
    margin-bottom: 10px;
    margin-top: 10px;
    float: right;
}
#flash_error{
    color: #B94A48;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-color: #EED3D7;
    font-weight: bold;
}
#flash_success{
    color: #468847;
    font-size: 15px;
    border-color: #D6E9C6;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

#flash_alert{
    color: #FF8C00;
    font-size: 15px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 18px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-color: #EED3D7;
    font-weight: bold;
}

.task_menu{
    float: right;
    font-size: 14px;
}
.task_menu a{
    padding-right: 3px;
}


.flash_msg{
    margin-bottom: 10px;
}

.field_with_errors input {
    color: #b94a48;
    border-color: #b94a48;
}

.field_with_errors label {
    color: #b94a48;
}

#error_explanation {
    margin-bottom: 5px;
}

#error_explanation h2{
    font-size: 15px;
}

#error_explanation b {
    color: #b94a48;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.page_menu{
    padding-left: 25px;
}
.page_menu a{
    color: #333;
}
.fl_left{
    float: left;
}
.dropdown-menu li{
    float: none;
}
.dropdown-menu{
    min-width: 0;
}

#project .item{
    background: #FAFAD2;
}

#task_list .item{
    background: #F8F8FF;
}

.item{
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #DDDDDD;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    min-height: 73px;
}

.item .name{
    font-size: 18px;
    margin-bottom: 3px;
}

.operations{
    font-size: 12px;
    text-align: right;
    border-top: 1px solid #DDDDDD;
    margin-top: 15px;
}
.operations a{
    color: #000;
}

#project_task_list_items{
  width: 100%;
}

.well input[type="text"], .well textarea, .well select, .well input[type="password"]{
   width: 100%;
}

tr.task_done td i{
    text-decoration: line-through;
}
tr.task_done td{
    color: #666;
}

.user_new{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.user_new label{
    font-weight: bold;
}

.user_new input{
    width: 100%;
}

.user_new input[type=submit]{
    padding: 3px 20px;
    width: auto;
}

.user_new label[for=user_remember_me]{
    display: inline;
}

.user_new a{
    margin-left: 10px;
    font-weight: bold;
}


.user_edit{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.user_edit label{
    font-weight: bold;
}

.user_edit input{
    width: 100%;
}

.user_edit input[type=submit]{
    padding: 3px 20px;
    width: auto;
}

.user_edit label[for=user_remember_me]{
    display: inline;
}

.user_edit a{
    margin-left: 10px;
    font-weight: bold;
}
