<div class="row">
  <div class="span6 offset3">
    <h2>New project</h2>
    <form id="new-project" name="project" class="well">
      <div class="actions">
        <div class="field">
          <label>Name:</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="field">
          <label>Description:</label>
          <textarea name="description"></textarea>
        </div>
        <input type="submit" value="Create project" class="btn-primary" />
      </div>
    </form>
  </div>
</div>
<div class="nav"><a href="/#/projects/index">Back</a></div>