/[if lt IE 9]
  %script{:type => "text/javascript",
        :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
/[endif]
= stylesheet_link_tag 'bootstrap'
= stylesheet_link_tag 'bootstrap-responsive'
= stylesheet_link_tag 'custom', :media => 'screen'
